.DS_Store

.buildpath
.hgignore.swp
.project
.orig
.swp
.vscode
go.sum

*/.DS_Store
.idea/
.settings/
.vscode/
bin/*
storage/

# admin
web/node_modules/
web/dist/
web/test/unit/coverage/
web/test/e2e/reports/
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/selenium-debug.log
web/.gitignore
